<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Flashcard</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        input, button , select{
            padding: 10px;
            margin: 5px;
        }
    </style>
</head>
<body>
    <h1>Create New Flashcard</h1>

    <form id="create-form">
        <input type="text" id="new-question" placeholder="Question" required>
        <input type="text" id="new-answer" placeholder="Answer" required>

        <label for="group">Select Group:</label>
        <select id="group" required>
            <option value="">Select a group</option>
            {% for group in groups %}
                <option value="{{ group._id }}">{{ group.name }}</option>
            {% endfor %}
        </select>

        <button type="submit">Create Flashcard</button>
    </form>

    <br>
    <a href="index.html"><button>Back to Home</button></a>

    <script>
        $('#create-form').submit(function(e) {
            e.preventDefault();
            var question = $('#new-question').val();
            var answer = $('#new-answer').val();
            var groupId = $('#group').val();

            if (!question || !answer || !groupId){
                alert("Please fill in all fields");
                return;
            }
            $.ajax({
                url: '/flashcards',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ question: question, answer: answer, group_id: groupId }),
                success: function(newFlashcard) {
                    $('#new-question').val('');
                    $('#new-answer').val('');
                    $('#group').val('');
                }
            });
        });
    </script>
</body>
</html>
